*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 230, 231);
}

.container{
    min-height: 50vh;
   max-width: 80vw;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 2rem auto;
    border:1px solid #232d42;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

h1{
    background-color: #232d42;
    color: white;
    padding: 0.35rem 0.35rem;
    border-radius: 1.875rem;
    width: 90%;
    margin: 1.5rem auto;
    font-size: 1.5rem;
}

.underline{
    width: 80%;
    height: 1px;
    background-color: #ced1da;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
#text{
    color: #232d42;
    font-size: 1.2rem;
}
.btn-container{

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#btn0,#btn1,#btn2,#btn3{
    background-color: #6c7283;
    color: white;
    width: 80%;
    padding: 0.5rem 0.5rem;
    border-radius: 1.875rem;
    margin: 1.5rem auto;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

#btn0:hover,#btn1:hover,#btn2:hover,#btn3:hover{
    background-color: #232d42;
   
}

h4{
    color: #232d42;
    margin-bottom:0.875rem;
 
}

@media screen and (min-width:676px){
    .container{
        max-height: 70vh;
        max-width: 50vw;
    }
    #text{
         font-size: 1.5rem;

    }
    .btn-container{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    } 
    #btn0,#btn1,#btn2,#btn3{
        width: 48%;
    }
    h1{
        padding: .25rem 1rem;
        border-radius: 1.875rem;
        width: 80%;
        margin: 2.5rem auto 1rem auto;
        text-align: center;
        font-size: 2.5rem;
    }
    
}
